.CategorySection {

}

.Category{
}

.categoryContent{
  //margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 20px;

}


.categoryButtons{
  display: flex;
  justify-content: end;
  gap: 5px;
  margin-top: 5px;
}

.deleteCategoryButton{
  background-color: var(--delete-action-bg-color);
  opacity: 0.8;
  border: 0;
}

.deleteCategoryButton span {
  color: var(--delete-action-color);
}

.updateCategoryButton{
  background-color: var(--update-action-bg-color);
  opacity: 0.8;
  border: 0;
}

.updateCategoryButton span {
  color: var(--update-action-color);
}


.tasks{
  display: flex;
  align-items: self-start;
  justify-content: center;
  gap: 1px;
}

.taskCard{
    width: 80%;
}


.cardButtons {
  display: flex;
  flex-direction: column;
  //column-gap: 10px;
  row-gap: 5px;
  //justify-content: space-between;
  //height: 80px;
  //width: 80%;
  max-width: 40px;
}

.deleteCardButton {
  display: flex;
  background-color: var(--delete-action-bg-color);
  color: var(--delete-action-color);
  border-radius: 5px;
}

.updateCardButton {
  display: flex;
  justify-content: center;
  background-color: var(--update-action-bg-color);
  color: var(--update-action-color);
  border-radius: 5px;
}

