.CategorySection {
 padding: 0;
  margin: 0;
}

.Category{
  //margin-top: 30px;
  //display: flex;
  //flex-direction: column;
  //gap: 25px;
}

.CategoryContent{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 20px;
}

