.Input {
  color: var(--primary-color);
  padding: 6px 15px;
  &::placeholder {
    color: var(--primary-color);
  }
}

.clear,
.clearInverted {
  padding: 0;
}

.clearInverted {
  color: var(--inverted-primary-color);
  &::placeholder {
    color: var(--inverted-primary-color);
  }
}

.background {
  background: var(--bg-color);
  color: var(--primary-color);
  border: none;
  ::placeholder {
    color: var(--primary-color);
  }
}

.backgroundInverted {
  background: var(--inverted-bg-color);
  border: none;
}

.sizeM {
  font: var(--font-m);
}

.sizeL {
  font: var(--font-l);
}

.sizeXL {
  font: var(--font-xl);
}

.disabled {
  opacity: 0.5;
}
