.app_dark_theme {
  --bg-color: #090949;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #04ff04;
  --secondary-color: #049604;
  --inverted-primary-color: #0452ff;
  --inverted-secondary-color: #0232c2;
  --border-color: #FFFFFF;
  // task priorities
  --low-priority-task-bg: rgba(0, 128, 0, 0.45);
  --medium-priority-task-bg: rgba(255, 255, 0, 0.45);
  --high-priority-task-bg: rgba(255, 0, 0, 0.45);
}

