:root , .app_dark_theme {
  --bg-color: #2a2b30;
  --inverted-bg-color: #f2f2f7;
  --primary-color: #ff4b10;
  --secondary-color: #e75c00;
  --inverted-primary-color: #604242;
  --inverted-secondary-color: #8bc34a;
  --border-color: #47484e;
  // task priorities
  --low-priority-task-bg: rgba(0, 255, 0, 0.1);
  --medium-priority-task-bg: rgba(255, 255, 0, 0.1);
  --high-priority-task-bg: rgba(255, 0, 0, 0.1);
}

