.Task {
  //width: 50%;
  padding: 10px 20px;
}

.dateWrapper{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  text-align: center;
}


.low{
  background-color: var(--low-priority-task-bg);
}

.medium{
  background-color: var(--medium-priority-task-bg);
}

.high{
  background-color: var(--high-priority-task-bg);
}
