.AccordionSection {
  border: 1px solid var(--border-color);
  margin-top: 10px;
  padding: 0 20px;

}

.AccordionSection.collapsed{
  cursor: pointer;
}

.AccordionSection .accordionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
  user-select: none;
}

.AccordionSection .accordionHeader button{
  user-select: none;
  opacity: 0.6;
  pointer-events: none;
}

.accordionContent {
  height: auto;
  overflow: auto;
  transition: height 0.3s ease;
}

.accordionContent.collapsed {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.marginDiv{
  height: 10px;
  cursor: pointer;
}

.marginDiv.unCollapsed{
  height: 20px;
}
