.LoginForm {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 100%;
}

.input {
  margin-top: 10px;
  max-width: 100%;
}

.loginBtn {
  margin-top: 15px;
  margin-left: auto;
}
